@font-face {
    font-family: "HelveticaNeue Lighter";
    src:url("fonts/HelveticaNeue Light.ttf");
}
body{
    font-size:15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
    font-family: Arial,Helvetica,sans-serif;
}

#name{
    width: 100%;
    background-color: #333333;
    color:white;
    text-align: center;
    font-size: 60px;
    padding:50px 0 50px 0;
    margin:auto;
}
#firstname{
    font-weight: lighter;
    font-family: 'HelveticaNeue Lighter';
}
#lastname{
    font-weight: bolder;
}



header{
    margin:0;
    width:100%;
    navbutton_background_color:#333333;
}
.belowheader{
    margin:0;
    width: 100%;
    background-color: #333333;
}
.links_list{
    margin-left:auto;
    margin-right: auto;
    margin-top:0 ;
    margin-bottom: 0;
    letter-spacing: 10px;
}
.links_list ul {
    list-style: none;
    text-align:center;
    overflow: hidden;
    margin:0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.links_list li {
    margin: 0px;
    padding:20px;
    flex-grow: 1;

}

.specificlink:visited, .specificlink:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;

}

.specificlink:hover {
    /*background-color: #24ff7c;*/
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
}
#spf{
    color:white;
    margin: inherit;
    padding:inherit;
}
#spf:hover{
    color: black;
    margin: inherit;
    padding:inherit;
}



.links_list .one:hover{
    background-color: darkviolet;

    border-right: 8px white solid;
}

.two:hover{
    margin-left: 0;
    background-color: #24ff7c;
    border-right: 8px white solid;
}
.thre:hover{
    margin-left: 0;
    background-color: darkturquoise;
    border-right: 8px white solid;

}

.fou:hover{
    margin-left: 0;
    background-color: tomato;
    border-right: 8px white solid;

}
.fiev{
    margin-left: 0;

}
.fiev:hover{
    margin-left: 0;
    background-color: white;
}



